.gitconfig
Documents
atuin
.bash_history
.bash_logout
.bash_profile
.cache
.cargo
.claude
.claude.json
.dart-tool
.docker
.flutter
go
.local
.npm
.nvidia-settings-rc
.pki
.pub-cache
.rustup
.ssh
.viminfo
yay
zellij

